@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --text-soft: #a3a3a3;
    --text-hard: #4a4a4a;
    --bg-white: #f5f5f5;
    --bg-soft: #eaeaea;
    --bg-hard: #d8d8d8;
    --line: #ddd;
    --link: #7aace7;
    --mobile-bg: #dbdbdb;
    --mobile-btn: #9b9b9b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: var(--text-hard);
}

a, p, q {
    color: var(--text-hard);
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--line);
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Start of nav */
.nav-wrapper {
    height: 64px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;

    .nav-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .boldfont {
            color: var(--text-hard);
            font-weight: 700    ;
        }

        .slimfont {
            color: var(--text-soft);
            font-weight: 400;
        }
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
            list-style: none;
            margin: 0 8px;
        }

        a {
            text-decoration: none;
            color: var(--text-hard);
            /* font-weight: 500; */
        }
    }   
}
/* End of nav */

/* Start of hero */
.hero {
    .hero-wrapper {
        display: flex;
        background-color: var(--bg-hard);

        .hero-banner {
            display: flex;
            padding: 32px 24px;
            width: 60%;

            img {
                width: 100%;
            }
        }

        .hero-info {
            width: 28%;
            height: 300px;

            h1 {
                font-size: 36px;
                margin: 20px 0;     
            }

            p {
                font-size: 16px;
                margin: 20px 0;        
            }

            .hero-btn {
                background-color: var(--text-hard);
                color: var(--white);
                text-decoration: none;
                width: 100%;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 0;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .hero-wrapper {
            display: flex;
            flex-direction: column;
            /* background-color: transparent; */

            .hero-banner {
                display: flex;
                padding: 0;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .hero-info {
            width: 100%;
            height: auto;
            padding: 32px 16px;

                h1 {
                    font-size: 36px;
                    margin: 0; 
                }

                p {
                    font-size: 16px;
                    margin: 32px 0 0 0;      
                }

                .hero-btn {
                    background-color: var(--text-hard);
                    color: var(--white);
                    text-decoration: none;
                    width: 100%;
                    margin: 24px 0 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
            }
        }
    }
}
/* End of hero */

/* Start of information */
.information {
    .information-wrapper {
        display: flex;
        align-items: flex-start;
        background-color: var(--bg-white);
    
        .information-main {
            display: flex;
            flex-direction: column;
            align-content: center;
            padding: 32px 24px;
            width: 60%;
    
            img {
                width: 100%;
            }
    
            h2 {
                margin: 32px 0 24px 0;
            }
            
            q {
                font-style: italic;
            }
            
            p {
                margin-top: 32px;
                font-weight: 500;
            }
        }
    
        .information-side {
            /* margin-top: 32px; */
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            width: 40%;
    
            .information-side-article {
                display: flex;
                width: 100%;
                border: 1px solid var(--line);
                margin: 0 0 2px 0;
    
                .information-side-img {
                    width: 35%;
                    
                    img {
                        width: 100%;
                        padding: 16px;
                    }
                }
        
                .information-side-info {
                    width: 65%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
    
                    h3 {
                        font-size: 18px;
                        margin-bottom: 8px;
                    }
        
                    p {
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
        
                    a {
                        text-decoration: none;
                        color: var(--link);
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .information-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--bg-white);
    
            .information-main {
                display: none;
            }

            .information-side {
                /* margin-top: 32px; */
                display: flex;
                flex-direction: column;
                justify-content:space-between;
                width: 100%;
                
        
                .information-side-article {
                    display: flex;
                    flex-direction: column;
                    height: 30%;
                    width: 100%;
                    border: 0px solid var(--line);
                    margin: 0 0 2px 0;
                    
        
                    .information-side-img {
                        width: 100%;
                        
                        img {
                            width: 100%;
                            height: 250px;
                            object-fit: cover;
                            object-position: center;
                            padding: 16px;
                        }
                    }
            
                    .information-side-info {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0 16px;
                        margin-top: 16px;
                        
        
                        h3 {
                            font-size: 18px;
                            margin-bottom: 8px;
                            padding: 0 16px;
                        }
            
                        p {
                            font-size: 14px;
                            margin-bottom: 8px;
                            padding: 0 16px;
                        }
            
                        a {
                            text-decoration: none;
                            color: var(--link);
                            padding: 0 16px 64px;
                        }
                    }
                }
            }   
        }
    }
}
/* End of information */

/* Start of course */
.course {

    h2 {
        display: flex;
        justify-content: center;
        padding: 32px 0;
    }
}

.course-wrapper {
    background-color: var(--bg-soft);
    padding-bottom: 32px;
    
    .course-grid {
        margin: 0 72px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
               
        .course-grid-item {
            border: 1px solid var(--line);
            background-color: var(--white);
            .course-grid-item-img {
                /* border: 1px red solid; */
                
                img {
                    width: 100%;
                }
            }
            
            .course-grid-item-info {
                padding: 0 16px 24px;
                            
                /* margin-bottom: 32px; */
                h3 {
                    padding-top: 16px;
                }

                p {
                   padding-top: 8px; 
                }
            }
        }
    }  
}
/* End of course */

/* Start of thesis */
.thesis {
    h2 {
        display: flex;
        justify-content: center;
        background-color: var(--bg-white);
        padding-top: 32px;
    }
}

.thesis-wrapper {
    display: flex;
    align-items: flex-start;
    background-color: var(--bg-white);
    padding-bottom: 32px;

    .thesis-main {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        padding: 32px 24px 0;
        width: 60%;

        video {
            width: 100%;
            height: auto;
        }

        h3 {
            margin-top: 24px;
            margin-bottom: 8px;
        }
        
        q {
            font-style: italic;
        }
    }

    .thesis-side {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 40%;

        .thesis-side-article {
            display: flex;
            width: 100%;
            border: 1px solid var(--line);
            /* margin: 0 0 2px 0; */

            .thesis-side-img {
                width: 35%;
    
                img {
                    width: 100%;
                    padding: 16px;
                }
            }
    
            .thesis-side-info {
                width: 65%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                

                h3 {
                    font-size: 18px;
                    margin-bottom: 8px;
                }
    
                p {
                    font-size: 14px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}
/* End of thesis */

/* Start of footer */
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 16px 24px;

    .lastly {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
            list-style: none;
            margin: 0 4px;
        }

        a {
            text-decoration: none;
            color: var(--text-hard);
            /* font-weight: 500; */
        }
    }
}
/* End of footer */

.mobile-icon {
    display: none;
    width: 24px;
    height: auto;
}
.nav-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Test for Tablet screen size */
@media screen and (max-width: 1024px) {
    /* 2 columns and reduce margin */
    .course-wrapper .course-grid {
        grid-template-columns: 1fr 1fr;
        margin: 0 24px;
    }
}

/* =========================================
   mobile-view and responsive
   ========================================= */   

@media (max-width: 768px) { 
    
    .container {
        padding: 0;
    }

    /*Start of mv header */
    .nav-wrapper {
        margin: 0;
        padding: 0 16px;
        justify-content: center;
    }
    
    .nav-logo {
        /* test */
        /* flex: 1; */
        background-color: transparent;
    }

    .nav-wrapper .nav-menu {
        display: flex;
        margin-top: 0;
    }
    
    .desktop-only, .desktop-link {
        display: none;
    }
    
    .mobile-icon {
        display: block;
        margin-left: 16px;
    }
}
